{%  extends "masterpage.html" %}
{% set active_page = "add product" %}
{%  block content %}

    <head xmlns="http://www.w3.org/1999/html">
        <style>
            .get-in-touch {
                position: relative;
                margin: 0 auto;
                padding: 30px;
                max-width: 470px;
                border-radius: 3px;
                height:800px;
            }

            .get-in-touch input[type=text],.get-in-touch input[type=email], .get-in-touch textarea {
                background: rgb(235, 241, 245);
                color: #110107;
            }

            .get-in-touch  input:focus, .get-in-touch  textarea:focus {
                outline: 0;
                background: rgba(152, 217, 255, 0);
        </style>
    </head>

    <body>


    {% if not session.logged_in %}
        <h2>You don't have access to this page, please log in</h2>
        <form action="{{ url_for('login') }}" method=post >
            <dl>
                <dt>Username:
                <dd><input type=text name=username>
                <dt>Password:
                <dd><input type=password name=password>
                <dd><input type=submit value=Login>
            </dl>
        </form>
    {% else %}

        <div class="row">
            <div class="row">
                <div class="col-mid-4">
                    <form method="post" action="{{ url_for('saveproduct') }}" class="form" enctype="multipart/form-data">
                        <div class="get-in-touch">
                            <h3 class="text-center">
                                Lägg till en produkt</h3>
                            <div class="form-group">
                                <input type="text" class="form-control" name="product_name" id="product_name" placeholder="Product Name" required/>
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" name="price" id="price" placeholder="Price" required/>
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" name="product_id" id="product_id" placeholder="Art no" required/>
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" name="min_size" id="min_size" placeholder="min_size" required/>
                            </div>

                            <div class="form-group">
                                <input type="number" class="form-control" name="max_size" id="max_size" placeholder="max_size" required/>
                            </div>


                            <!--9
                            Katergorier, storlekar, Artikel nummer, märke

                            -->
                            <div class="form-group">
                                <input type="text" class="form-control" name="category" id="category" placeholder="Category" required/>
                            </div>

                            <div class="form-group">
                                <input type="number" class="form-control" name="classification" id="classification" placeholder="Classification" required/>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="brand" id="brand" placeholder="Brand" required/>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="3" name="info" placeholder="Description" required></textarea>
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control" name="pic_url" id="pic_url" placeholder="picturelink" required/>
                            </div>
                            <input type="submit" value="Lägg till produkt" class="btn btn-success btn-sm btn-block" role="button" />
                            <br>

                        </div>

                    </form>
                </div>
            </div>
        </div>

    {% endif %}
    </body>

{%  endblock %}