{%  extends "masterpage.html" %}
{% set active_page = "login" %}
{%  block content %}

    <head>
        <title>Login</title>
        <style>
            .container{
                height:800px;
            }
        </style>
    </head>

    <body>
    {% if error=='Invalid password or username' %}
        <div class=flash>
            {{ error }}
        </div>
    {% endif %}
    {% if not session.logged_in %}
        <form action="{{ url_for('login') }}" method=post>
            <dl>
                <dt>Username:
                <dd><input type=text name=username>
                <dt>Password:
                <dd><input type=password name=password>
                <dd><input type=submit value=Login>
            </dl>
        </form>
    {% endif %}
    <dt>Not a member? Register:
        <a href="{{ url_for('register') }}">here</a>
    </dt>
    </body>

{%  endblock %}